<!DOCTYPE html>
<html>
<body>

<div class="container">

<div class="page-header">
<h1>MEET Friends</h1>
</div>

<form action="BROKEN-LINK-FIX-ME" method="post">
Are you sure you want to delete FRIEND NAME SHOULD GO HERE?<br>
<input type="submit" value="Yes" class="btn btn-info" role="button">
</form>

<a href="BROKEN-LINK-FIX-ME" class="btn btn-info" role="button">Cancel</a>

</div>

<footer class="footer">
<div class="container">
<p class="text-muted text-footer-custom">Y2 Flask Intro</p>
</div>
</footer>

</body>
</html>
